.markdown {
  > p,
  > ul,
  > ol,
  > div,
  > pre,
  > img,
  > blockquote {
    @apply mb-5 last:mb-0;
  }

  > p {
    line-height: 1.6;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  blockquote {
    @apply border-l-2 border-text-muted pl-4;

    > p {
      @apply mb-4 last:mb-0;
    }
  }

  a {
    @apply text-text-strong;
  }

  p > code {
    @apply whitespace-nowrap rounded-md border px-[5px] py-[2px] font-mono text-sm;
  }

  > h2,
  > h3 {
    @apply mb-2 mt-12 text-lg font-semibold text-text-strong;
  }

  ul {
    @apply list-disc pl-4;
  }

  strong {
    @apply font-semibold;
  }
}
