.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: theme("colors.pink.400");
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: theme("colors.blue.300");
}

.token.module {
  color: theme("colors.purple.300");
}

.token.attr-value {
  color: theme("colors.blue.300");
}

.token.string {
  color: theme("colors.orange.300");
}

.token.class {
  color: theme("colors.teal.300");
}

.token.punctuation,
.token.attr-equals {
  color: theme("colors.zinc.500");
}

.token.unit,
.language-css .token.function {
  color: theme("colors.sky.200");
}

.token.comment {
  color: theme("colors.emerald.400");
  opacity: 0.7;
}

.token.property,
.token.operator,
.token.combinator {
  color: theme("colors.zinc.400");
}

.token.property,
.token.operator,
.token.combinator {
  color: theme("colors.zinc.400");
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: theme("colors.zinc.500");
  content: attr(line);
}

.markdown {
  > p,
  > ul,
  > ol,
  > div,
  > pre {
    @apply mb-6 last:mb-0;
  }

  > p {
    @apply leading-relaxed;
  }

  a {
    @apply text-text-strong;
  }

  p > code {
    @apply bg-bg-subtle px-1 py-1 text-sm;
  }

  h2,
  h3 {
    @apply mb-2 mt-12 text-lg font-semibold text-text-strong;
  }

  ul {
    @apply list-disc pl-4;
  }

  strong {
    @apply font-semibold;
  }
}
